.container {
    margin: 50px auto;
    width: 500px;
    background-color: rgb(226, 121, 217);
    background-image: linear-gradient(
      149deg,
      rgb(228, 112, 212) 0%,
      rgb(121, 7, 51) 100%
    );
    padding: 15px;
    border-radius: 20px;
    -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  }
  
  .heading {
    color: white;
    margin: 0;
  }