.table {
    padding: 0;
    margin: 25px 0;
    width: 100%;
  }
  
  .theading {
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .delete {
    display: none;
  }
  
  .tbody {
    height: 50px;
  }
  
  .name {
    text-transform: capitalize;
    font-weight: 500;
  }
  
  .text {
    font-size: 20px;
  }
  
  .button {
    width: 100px;
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(185, 71, 147, 0.2) 0 -25px 18px -14px inset,
      rgba(201, 63, 159, 0.15) 0 1px 2px, rgba(190, 84, 150, 0.15) 0 2px 4px,
      rgba(212, 53, 159, 0.15) 0 4px 8px, rgba(180, 34, 173, 0.15) 0 8px 16px,
      rgba(189, 50, 159, 0.15) 0 16px 32px;
    color: rgb(184, 11, 132);
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin: auto 0;
  }
  
  .button:hover,
  .button:focus {
    box-shadow: rgba(179, 59, 133, 0.35) 0 -25px 18px -14px inset,
      rgba(156, 30, 146, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px,
      rgba(161, 33, 108, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px,
      rgba(209, 45, 121, 0.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }